# PyTorch with CUDA 12.8 support
# Note: Requires CUDA-compatible GPU
--extra-index-url https://pypi.nvidia.com
--index-url https://download.pytorch.org/whl/cu130
isaacsim[all,extscache]==5.1.0
torch
torchvision